body
{
  font: 'Gotham';
  background-color: #039BE5;
}
#profname
{
  color:white;
}
.welcometofp
{
  font-family: 'Gotham';
  text-align: center;
  color: white;
}
.sidenav
{
  font-family: 'Gotham';
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.6s;
  text-align: center;
}
.sidenav a
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover
{
  color: #1565C0;
}
.sidenav a:active
{
  color:white;
}
.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 10px;
}
@media screen and (max-height: 720px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}
.searchBy
{
  font-family: 'Gotham';
  color: white;
}
